.color{
  color: #e93a38;
}
.color1{
  color: #902729;
}
a{
  color: #333;
}
.collecPage .top-img{
  display: none;
}
/*header*/
.header-top{
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header-top .container{
  padding-left: 0;
}
.header-top .container:nth-child(1){
  padding: 30px 0 10px;
}
.header-top .top-header-main{
  display: flex;
}
.header-top .top-header-main .top-header-left{
  flex: 1;
  line-height: 70px;
}
.header-top .container a{
  color: #000;
  display: inline-block;
  font-family: '思源黑体';
}
.header-top .container .login{
  padding-left: 40px;
  background: url(../image/icon/personal.jpg) no-repeat left center;
  background-size: 3rem;
}
.top-header-left{
  position: relative;
}
.popover.bottom{
  position: absolute;
  left: -10%;
  top: 80%;
  padding: 30px 20px 0;
  width: 24rem;
}
.popover.bottom .avatar{
  padding: 0 0 22px;
  text-align: center;
}
.popover.bottom .img-box{
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 13px;
}
.popover.bottom>.arrow{
  left: 18%;
}
.popover.bottom ul li{
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  background: url(../image/icon/collection.jpg) no-repeat left center;
  background-size: 2rem;
  border-bottom: 1px solid #e4e4e4;
}
.popover.bottom ul .settings{
  background: url(../image/icon/settings.png) no-repeat -6px center;
  background-size: 3rem;
}
.popover.bottom ul .name{
  background: url(../image/icon/personal.jpg) no-repeat left center;
  background-size: 2rem;
  border-bottom: none;
}
.header-top .container .logo{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.header-top .container .logo img{
  width: 7rem;
}
.top-header-main div:nth-child(3){
  text-align: right;
}
.top-header-main .collection,
.top-header-main .advisory{
  width: 40px;
  height: 100%;
  display: inline-block;
  background: url(../image/icon/collection.jpg) no-repeat left 13px;
  background-size: 3rem;
  padding-left: 60px;
}
.top-header-main .advisory{
  background: url(../image/icon/kf.jpg) no-repeat left 13px;
  background-size: 3rem;
  margin-left: 1rem;
}
.header-bottom {
  display: flex;
}
.header-bottom .logo{
  display: none !important;
}
.header-bottom .search{
  flex: 1;
  text-align: right;
  display: inline-block;
  height: 35px;
  background: url(../image/icon/search.jpg) no-repeat right center;
  background-size: 3rem;
}
/*分页*/
.pagination>li>a, .pagination>li>a{
  margin: 0 5px;
  color: #000;
  padding: 2px 8px;
  border: 1px solid #e4e4e4;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
  border-radius: 0;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color: #fff;
  color: #902729;
  border: none;
}
.pagination>li.total>a,
.pagination>li.jump>a{
  border: none;
}
.pagination>li.jump>a input{
  border: 1px solid #e4e4e4;
  padding: 2px 8px;
  margin-left: 10px;
  width: 30px;
}
.pagination>li input{
  border: 1px solid #e4e4e4;
  background-color: #fff;
  color: #000;
  margin-left: 30px;
}
/*footer*/
.footer-grids{
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
.footer-grids .about-us:nth-child(1){
  width: 20%;
}
.footer-grids .about-us:nth-child(2),
.footer-grids .about-us:nth-child(3),
.footer-grids .about-us:nth-child(4){
  flex: 1;
}
.footer-grids .about-us:nth-child(5){
  width: 10%;
}
.footer-grids .about-us li{
  list-style: none;
  color: #666;
}
.footer-grids .about-us li a{
  color: #666;
  font-size: 12px;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom p{
  color: #333333;
  font-size: 14px;
  font-family: '思源黑体';
  line-height: 85px;
}
.footer-bottom img{
  width: 7rem;
}
/*content*/
.main_content{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 177px;
}
/*banner*/
.main_content #slider1{
  height: 320px;
  overflow: hidden;
}
.slider .callbacks_container img{
  margin-top: -15px;
}
/*content*/
.main_content {
  color: #000;
}
.main_content .title{
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
.main_content .title p:nth-child(2){
  font-size: 20px;
  margin-top: 11px;
}
#slider2 li {
  display: flex;
  padding-bottom: 5px;
}
#slider2 li .items{
  display: inline-block;
  width: 33.333%;
  height: 100%;
  box-shadow: 0 4px 8px #ccc;
  margin: 0 5px;
}
#slider2 li .items .price{
  text-align: center;
}
.main_content .slider.goods{
  padding: 0 55px;
  box-sizing: border-box;
}
.goods .callbacks_nav{
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 8px #ccc;
  opacity: 1;
  background: url(../image/icon/left.jpg) no-repeat center center;
  background-color: #fff;
  left: -80px;
}
.goods .callbacks_nav.next{
  background: url(../image/icon/right.jpg) no-repeat center center;
  background-color: #fff;
  right: -80px;
  left: auto;
}
.main_content .offers{
  background-color: #f6f6f8;
  display: flex;
}
.main_content .offers .offers-left,
.main_content .offers .offers-right{
  flex: 1;
  text-align: center;
}
.main_content .offers .offers-left{
  margin-right: 7px;
}
.main_content .offers .offers-right{
  margin-left: 7px;
}
.main_content .offers img{
  width: 100%;
}
.main_content .offers .goods{
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px #ccc;
}
.main_content .offers .goods .details{
  padding: 38px 0;
  color: #999999;
}
.main_content .goods .details p:nth-child(1){
  color: #000;
  margin-bottom: 13px;
}
.main_content .offers-left .goods3,
.main_content .offers-right .goods5{
  display: flex;
}
.main_content .offers-left .goods3 .details,
.main_content .offers-left .goods3 img,
.main_content .offers-right .goods5 .details,
.main_content .offers-right .goods5 img{
  width: 50%;
}
.main_content .offers-left .goods3 .details,
.main_content .offers-right .goods5 .details{
  padding-top: 48px;
}
.main_content .offers-left .goods3 img,
.main_content .offers-right .goods5 img{
  height: 50%;
}
/*登录*/
.log_box{

}
.log_box .third_party{
  font-family: '思源黑体';
  font-size: 22px;
}
.third_party .third_content {
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 0 25px;
}
.third_party .third_content .third{
  display: inline-block;
  flex: 1;
  background: url(../image/icon/qq.jpg) no-repeat;
  width: 62px;
  height: 62px;
  background-size: 100%;
  margin: 0 15px;
}
.third_party .third_content .wechat{
  background: url(../image/icon/wechat.jpg) no-repeat;
  background-size: 100%;
}
.third_party .third_content .sina{
  background: url(../image/icon/sina.jpg) no-repeat;
  background-size: 100%;
}
/*活动页*/
.product-model{
  margin-top: 177px;
  background-color: #f7f7f9;
}
.product_content.lists{
  background-color: #fff;
  padding-bottom: 165px;
}
.product_imgs{
  position: relative;
}
.product_content .title{
  margin-top: 45px;
  font-family: '思源黑体';
}
.product_content .title p{
  font-size: 16px;
  text-align: center;
}
.product_content .title p:last-child{
  margin-bottom: 50px;
}
.product_content .title p:nth-child(1){
  font-size: 28px;
  margin-bottom: 30px;
}
.product-model-sec ul{
  padding: 0 125px;
  display: flex;
  box-sizing: border-box;
}
.product-model-sec ul li{
  flex: 1;
  margin: 0 9px;
}
.product_imgs .title{
  position: absolute;
  top: -15%;
  left: 134px;
  right: 134px;
  background-color: #fff;
  padding-top: 65px;
  margin-top: 0;
  border-top: 1px solid #e9e9e9;
}
.product_details {
  padding: 40px 134px;
  display: flex;
  background-color: #f7f7f9;
  display: flex;
  font-family: '思源黑体';
}
.product_details > div{
  flex: 1;
}
.product_details .img_bgs{
  padding:  10%;
}
.product_details .discription{
  padding-left: 30px;
}
.product_details .discription p{
  margin-top: 0;
}
.product_details .discription .title1{
  margin-bottom: 33px;
}
.product_details .discription .title2{
  color: #999999;
}
.product_details .discription .list p{
  line-height: 26px;
}
.img_box{
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #f7f7f9;
  padding-bottom: 6rem;
}
.img_box .imgBox_bottom.left{
  width: 60%;
}
.img_box .imgBox_bottom.right{
  flex: 1;
  text-align: center;
}
.img_box .imgBox_bottom.right .content{
  padding: 40px 15px 0;
  font-family: '思源黑体';
}
.img_box .imgBox_bottom.right .content .title{
  font-size: 20px;
}
.img_box .imgBox_bottom.right .content p{
  line-height: 26px;
}
/*联系我们*/
.main_artical{
  margin-top: 177px;
  font-family: '思源黑体';
}
.main_artical .contact > .title{
  text-align: center;
  padding: 50px 0;
  font-family: '思源黑体';
}
.main_artical .contact .title h3{
  font-size: 30px;
}
.main_artical .contact .contact_us{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.main_artical .contact .contact_us > div{
  flex: 1;
  text-align: center;
  padding: 125px 25px 50px;
  margin: 0 15px;
  background: url(../image/icon/phone.png) no-repeat center 24%;
  background-size: 4.5rem;
  background-color: #fff;
}
.main_artical .contact .contact_us > div:nth-child(1){
  margin-left: 0;
  background: url(../image/icon/address.png) no-repeat center 24%;
  background-size: 4.5rem;
  background-color: #fff;
}
.main_artical .contact .contact_us > div:last-child{
  margin-right: 0;
  background: url(../image/icon/email.png) no-repeat center 24%;
  background-size: 4.5rem;
  background-color: #fff;
}
.main_artical .contact .contact_us > div .title{
  font-size: 18px;
  margin-bottom: 10px;
}
.main_artical .contact .contact_us > div .details{
  line-height: 20px;
  word-break: break-all;
  color: #999;
}
.main_artical form{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 60px 10%;
  margin-bottom: 100px;
}
.main_artical form .top{
  margin-bottom: 30px;
}
.main_artical form .top input{
  border: none;
  width: 45%;
  border: none;
  background-color: #edf1f4;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}
.main_artical form .top .email{
  float: right;
}
.main_artical form textarea{
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #edf1f4;
  width: 100%;
  resize: none;
}
.main_artical form input[type="submit"]{
  outline:none;
  border:1px solid #fff;
  color:#fff;
  background-color: #902729;
  border-radius: 18px;
  height: 40px;
  width: 40%;
  display: inline-block;
  margin: 74px 0 50px 50%;
  font-size: 16px;
  transform: translateX(-50%);
}
.breadcrumb li a{
  color: #666666;
}
.listsPage .breadcrumb>li+li:before{
  /*content: '&#62';*/
}
.breadcrumb{
  padding: 0;
}
.list-items {
  background-color: #e4e4e4;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px #ccc;
}
.list-items .item-title{
  display: flex;
  height: 44px;
  line-height: 44px;
}
.list-items .item-title ul{
  display: flex;
  width: 70%;
}
.list-items .item-title ul li{
  text-align: center;
  cursor: pointer;
}
.list-items .item-title ul li:nth-child(6),
.list-items .item-title ul li:nth-child(7){
  width: 18%;
}
.list-items .item-title ul li:nth-child(1),
.list-items .item-title ul li:nth-child(2),
.list-items .item-title ul li:nth-child(3),
.list-items .item-title ul li:nth-child(4),
.list-items .item-title ul li:nth-child(5){
  flex: 1;
}
.list-items .item-title ul li a{
  color: #333;
}
.list-items .item-title ul li.active{
    background-color: #902729;
    color: #fff;
}
.list-items .item-title ul li.active a{
  color: #fff;
}
.list-items .item-title .change-pages {
  flex: 1;
  text-align: right;
  padding-right: 70px;
  position: relative;
}
.list-items .item-title .change-pages .prev,
.list-items .item-title .change-pages .next{
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #979c9f;
  background: url(../image/icon/button.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
.list-items .item-title .change-pages .prev{
  background: url(../image/icon/button.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 23%;
  right: 130px;
  transform: rotate(180deg);
}
.list-items .list-content{
  padding: 60px 30px;
  background-color: #fff;
}
.list-items .list-content ul{
  display: flex;
  flex-wrap: wrap;
}
.list-items .list-content ul li{
  width: 23%;
  padding: 20px 25px;
  margin: 0 5px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 4px 5px #ccc;
}
.list-items .list-content ul li p{
  line-height: 22px;
  /*font-family: '苹方';*/
}
.list-items .list-content ul li .price{
  text-align: center;
  color: #9ea3a6;
}
.list-items .list-content ul li .price span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../image/icon/sc1.png) no-repeat center center;
  float: right;
}
.list-items .item-title .change-pages .now{
  color: #902729;
}
.list-items nav {
  text-align: center;
  background-color: #fff;
}
.list-items nav .pagination{
  margin: 0 0 55px;
}
.listsPage .condition{
  box-shadow: 0 5px 5px #ccc;
  position: relative;
  margin-bottom: 4rem;
}
.listsPage .condition .more{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../image/icon/more.png) no-repeat 90% 50%;
  background-color: #fff;
  box-shadow: 0 5px 5px #ccc;
  padding: 0 45px 0 20px;
  cursor: pointer;
}
.listsPage .condition .title{
  height: 46px;
  line-height: 46px;
  background-color: #e4e4e4;
  padding-left: 30px;
  color: #000;
}
.listsPage .condition .all-title{
  padding: 24px 0;
  background-color: #fff;
  margin-bottom: 60px;
  font-family: '思源黑体';
  /*color: #000;*/
}
.listsPage .condition .all-title .limit i{
  display: inline-block;
  padding: 0 4px;
  background-color: #902729;
  color: #fff;
  font-style: normal;
}
.listsPage .condition .all-title .classify{
  display: flex;
  margin-bottom: 15px;
}
.listsPage .condition .all-title .limit {
  width: 14%;
}
.listsPage .condition .all-title .classify span{
  color: #979c9f;
  margin-left: 5px;
}
.listsPage .condition .all-title ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.listsPage .condition .all-title ul li{
  width: 10%;
  line-height: 24px;
}
.listsPage .condition .all-title .price li{
  width: 15%;
}
.listsPage .filter_menu{
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border: 1px solid #dfdfdf;
  padding: 0 3px;
  margin-left: 5px;
  color: #313131;
  box-sizing: border-box;
}
.listsPage .filter_menu span{
  color: #dd373a;
}
.listsPage .breadcrumb{
  position: relative;
}
.listsPage .search-clear{
  color: #999;position: absolute;right: 10px;
}
/*收藏*/
.collecPage {
  background-color: #f6f6f8;
  font-family: '思源黑体';
}
.collecPage .choose{
  margin: 15px 30px;
  padding-top: 15px;
  font-size: 16px;
}
.collecPage .choose span{
  margin-left: 24px;
}
.collecPage .choose .cancle{
  position: relative;
}
.collecPage .choose .cancle::before{
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #919192;
  position: absolute;
  left: -12px;
  top: 0;
}
.collecPage .choose .filter{
  background: url(../image/icon/more1.png) no-repeat left center;
  padding-left: 22px;
}
.collecPage .lists input[type=checkbox]{
  margin-bottom: 12px;
}
.collecPage .lists ul{
  display: flex;
  flex-wrap: wrap;
}
.collecPage .lists ul li{
  width: 48%;
  background-color: #fff;
  padding: 10px 30px 90px;
  margin-bottom: 30px;
}
.collecPage .lists ul li:nth-child(2n){
  margin-left: 15px;
}
.collecPage .lists ul li:nth-child(2n+1){
  margin-right: 15px;
}
.collecPage .lists .lock-title{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.collecPage .lists .detail2,
.collecPage .lists .delete{
  display: none;
}
.collecPage .lists .lock .color{
  margin-left: 40px;
}
.collecPage .lists .lock .price{
  font-size: 20px;
}
.collecPage .lists .lock img{
  padding: 90px 20% 0;
}
.collecPage .total{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  display: none;
  padding-top: 20px;
}
.collecPage .total .color1{
  font-size: 18px;
  margin-bottom: 5px;
}
.collecPage .lists .bottom{
  display: none;
}
/*详情页*/
.detailsPage {
  margin-top: 177px;
}
.product-price1{
  background-color: #fff !important;
  padding: 40px 45px;
  font-family: '思源黑体';
  box-shadow: 0 5px 5px #ccc;
  margin-bottom: 30px;
}
.product-price1 h5{
  font-weight: normal;
}
.single-para h4{
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 22px;
}
.single-para h5 .color{
  margin-left: 50px;
}
.single-para h5 .price{
  font-size: 20px;
}
.single-para h5 {
  margin-bottom: 25px;
}
.single-para .details li{
  padding-left: 86px;
  background: url(../image/icon/zhengpin.png) no-repeat left center;
  margin-bottom: 36px;
  background-size: 50px;
  color: #666666;
}
.single-para .details li .title{
  color: #000;
}
.single-para .details li p{
  line-height: 24px;
}
.prdt-info-grid span{
  display: inline-block;
  padding: 0 15px 0 32px;
  line-height: 32px;
  background: url(../image/icon/zheng.png) no-repeat 5px center;
  /*background-size: 2rem;*/
}
.prdt-info-grid span:nth-child(2){
  background: url(../image/icon/tuihuo.png) no-repeat 5px center;
}
.prdt-info-grid span:nth-child(3){
  background: url(../image/icon/zhijian.png) no-repeat 5px center;
}
.prdt-info-grid span:nth-child(4){
  background: url(../image/icon/share.png) no-repeat 5px center;
}
.prdt-info-grid span:nth-child(5){
  background: url(../image/icon/shoucang.png) no-repeat 5px center;
  background-size: 2rem;
}
.product-detail {
  font-family: '思源黑体';
  color: #000;
  padding-bottom: 107px;
}
.product-detail .top-sing .title{
  margin-bottom: 15px;
  display: flex;
}
.product-detail .top-sing .title .left{
  width: 5rem;
}
.product-detail .top-sing .title .right{
  display: inline-block;
  flex: 1;
  position: relative;
  margin-left: 5px;
  color: #666;
}
.product-detail .top-sing .title .right::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
}
.product-detail .top-sing ul {
  display: flex;
  flex-wrap: wrap;
}
.product-detail .top-sing ul li{
  width: 25%;
  height: 40px;
  line-height: 40px;
  padding-left: 39px;
  background-color: #f6f6f6;
  margin-bottom: 6px;
  border-right: 6px solid #fff;
}
.product-detail .top-sing ul li:nth-child(4n){
  border: none;
}
.product-detail .description {
  margin-bottom: 55px;
}
.product-detail .details .img-box{
  padding: 0 25%;
}
.flexslider .img-box{
  position: relative;
}
.flexslider ul{
  width: 100%;
  border: 1px solid #000;
  display: flex;
}
.flexslider ul li{
  flex: 1;
}
.prdt-info-grid{
  display: none;
}
.flexslider .mask{
  width: 175px;
  height: 175px;
  background: rgba(255, 255, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: move;
  display: none;
}
.simpleCart_shelfItem{
  position: relative;
}
.flexslider .img-box{
  border: 1px solid #000;
}
.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: none;
}
/*列表页*/
.listsPage {
  /*margin-top: 152px;*/
}
/*注册*/
.log .log-bottom {
  text-align: left;
}
.log .log-bottom a{
  float: none;
  font-size: 12px;
}
.log .log-bottom a.color{
  color: #cc5252;
}
/*忘记密码*/
.setpasd {
  background-color: #fff;
  padding: 80px;
  margin: 100px 10% 120px;
  font-family: '思源黑体';
  color: #000;
}
.setpasd .title{
  font-size: 20px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
}
.setpasd form {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}
.setpasd form .content {
  width: 100%;
}
.setpasd form input[type='text']{
  height: 42px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 15px;
  width: 100%;
}
.setpasd form .btn{
  width: 100%;
  background-color: #cc5252;
  border: none;
  color: #fff;
  height: 42px;
  border-radius: 5px;
}
.popover.left{
  display: block;
  background-color: #cc5252;
  color: #fff;
  box-shadow: 0 0;
  width: 150px;
}
.popover.left>.arrow:after{
  border-left-color: #cc5252;
  box-shadow: 0 0;
}
.popover-content{
  margin: 0;
}
.modal-content{
  padding-bottom: 15px;
}
.modal.in .modal-dialog{
  width: 30%;
  top: 32%;
  font-family: '思源黑体';
  color: #000;
}
.modal-header{
  padding: 15px 15px 30px;
}
.modal-footer{
  border: none;
  text-align: center;
}
.modal-footer .btn{
  color: #a3a3a3;
  padding: 8px 25px;
  border-radius: 30px;
  border: 1px solid #a3a3a3;
  outline:none;
}
.modal-footer .btn+.btn{
  background-color: #cc5252;
  color: #fff;
  border: none;
  margin-left: 30px;
}
textarea:hover,
textarea:focus,
textarea:active,
input:focus,
input:active:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,.btn:active.focus,
.btn.active.focus {
  outline: none;
  border-color: transparent;
}
.phone-lists{
  display: none;
}
@media (max-width: 1000px){
  .skyblue li>a{
    margin: 0 1rem !important;
  }
  .collecPage .choose .col-md-3{
    float: right;
    margin-top: -20px;
  }
  .collecPage .lists ul li{
    width: 50%;
    box-shadow: 0 5px 5px #ccc;
  }
  .collecPage .lists ul li:nth-child(2n),
  .collecPage .lists ul li:nth-child(2n+1){
    margin: 0 10px 5px;
  }
}
@media (max-width: 640px){
  /*header*/
  .header-top{
    border: none;
  }
  .header-top .container:nth-child(1){
    padding: 0;
  }
  .header-top .top-header-main{
    display: none;
  }
  .header-bottom .container .logo{
    display: inline-block;
  }
  .container{
    padding-right: 0;
  }
  .main_content{
    width: 100%;
    margin-top: 60px;
  }
  .main_content #slider1{
    height: 200px;
  }
  .header-top .container .logo{
    line-height: 60px;
  }
  .header-top .container .logo img{
    width: 4.5rem;
    margin-left: 15%;
  }
  .header-top{
    height: 60px;
    box-shadow: 0 2px 5px #ccc;
  }
  .header-bottom .logo{
    display: inline-block !important;
    position: relative;
  }
  .header-bottom .search{
    width: 35px;
    flex: none;
    height: 60px;
    background: url(../image/icon/search1.png) no-repeat center;
    background-size: 100%;
    margin-right: 1rem;
    z-index: 5;
  }
/*  .header-top .container .logo::before{
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../image/icon/lists.png) no-repeat;
    position: absolute;
    left: 1rem;
    top: 50%;
    background-size: 100%;
    transform: translateY(-50%);
  }*/
  .header-top .container a:hover{
    /*background: url(../image/icon/close.png) no-repeat;*/
  }
  .header-top .container .logo:hover::before{
    /*color: red;*/
    /*background: url(../image/icon/close.png) no-repeat;*/
    /*background-size: 100%;*/
    /*content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 50%;
    background-size: 100%;
    transform: translateY(-50%);*/
  }
  .header-top .container .logo:hover::before ul.memenu.skyblue{
    width: 100%;
  }
  /*menu*/
  .memenu{
    width: 100%;
    margin: 0;
  }
  ul.memenu.skyblue{
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    background-color: #fff;
    box-shadow: 0 -1px 0 #ccc;
    /*display: none;*/
  }
  ul.memenu.skyblue li{
    display: block;
    flex: none !important;
    width: 100%;
    height: 60px;
    
  }
  .memenu>li.showhide span:after{
    width: 0 !important;
  }
  .memenu>li:hover>a, .memenu>li.active>a{
    border: none;
  }
  .memenu>li>a, .memenu>li.active>a{
    height: 78px;
    line-height: 78px;
    padding: 0 0 0 58px;
    margin: 0 !important;
    position: relative;
  }
  .memenu>li>a::before, .memenu>li.active>a::before,
  .memenu>li>a::after, .memenu>li.active>a::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 38%;
    left: 28px;
    background: url(../image/icon/home1.png) no-repeat center;
    background-size: 100%;
  }
  .memenu>li:nth-child(3) a::before{
    background: url(../image/icon/zhubao1.png) no-repeat 28px center;
    background-size: 22px;
  }
  .memenu>li a:nth-child(3)>a{
    background: url(../image/icon/watch.png) no-repeat 30px center;
    background-size: 16px;
  }
  .memenu>li:nth-child(4)>a{
    background: url(../image/icon/bao.png) no-repeat 28px center;
    background-size: 20px;
  }
  .memenu>li a:nth-child(5)>a{
    background: url(../image/icon/siren.png) no-repeat 28px center;
    background-size: 20px;
  }
  .memenu>li a:nth-child(6)>a{
    background: url(../image/icon/present.png) no-repeat 28px center;
    background-size: 20px;
  }
  ul.memenu.skyblue li a{
    background: url(../image/icon/right.jpg) no-repeat 96% center;
    background-size: 22px;
  }
  ul.memenu.skyblue li.active a{
    background: url(../image/icon/red.png) no-repeat 96% center;
    background-size: 22px;
  }
  .memenu>li.showhide{
    background-color: #fff;
  }
  .memenu>li.showhide span.title{
    background: url(../image/icon/lists.png) no-repeat ;
    display: inline-block;
    width: 30px;
    height: 60px;
    background-size: 100%;
    text-indent: -2000px;
    display: inline-block !important;
  } 
  /*footer*/
  .footer{
    padding: 40px 0 10px;
  }
  .footer-grids{
    width: 100%;
    padding: 0 10%;
  }
  .footer-bottom p{
    line-height: 35px;
    font-size: 12px;
  }
  .footer-bottom img{
    width: 4.5rem;
  }
  /**/
  .phone-lists{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 20%;
    z-index: 10;
  }
  .phone-lists li{
    width: 49px;
    height: 49px;
    border-radius: 10px;
    margin-bottom: 6px;
    background: url(../image/icon/geren1.png) no-repeat center center;
    background-color: #686868;
    background-size: 28px;
  }
  .phone-lists li.kf{
    background: url(../image/icon/kefu1.png) no-repeat center center;
    background-color: #686868;
    background-size: 28px;
  }
  .phone-lists li.collect{
    background: url(../image/icon/shoucang1.png) no-repeat center center;
    background-color: #686868;
    background-size: 28px;
  }
  /*首页*/
  .main_content .slider.goods{
    padding: 0;
  }
  #slider2 li .items:nth-child(1){
    margin-left: 0;
  }
  #slider2 li .items:nth-child(3n){
    margin-right: 0;
  }
  .goods .callbacks_nav{
    left: 0;
    top: 10%;
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .goods .callbacks_nav.next{
    right: 0;
    background-size: 100%;
  }
  .items{
    padding-bottom: 1rem;
  }
  /*收藏*/
  .collecPage .choose{
    display: none;
  }
  .collecPage .top-img,
  .collecPage .total{
    display: block;
  }
  .collecPage{
    margin-bottom: 5px;
  }
  .collecPage .top-img{
    width: 100%;
    height: 75px;
    overflow: hidden;
  }
  .collecPage .top-img img{
    margin-top: -16%;
  }
  .collecPage .lists ul{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .collecPage .lists ul li{
    width: 48%;
    padding-bottom: 15px;
    padding: 20px 22px 15px;
  }
  .collecPage .lists ul li:nth-child(2n), 
  .collecPage .lists ul li:nth-child(2n+1){
    margin: 0 0 10px;
  }
  .collecPage .lists ul li:nth-child(2n+1){
    margin-right: 5px;
  }
  .collecPage .lists ul li:nth-child(2n){
    margin-left: 5px;
  }
  .collecPage .lists .lock .color{
    margin-left: 0;
  }
  .collecPage .lists input[type='checkbox']{
    display: none;
  }
  .collecPage .lists .lock img{
    padding: 0;
  }
  .collecPage .lists .detail1,
  .collecPage .lists .lock p{
    display: none;
  }
  .collecPage .lists .bottom {
    text-align: center;
  }
  .collecPage .lists .bottom .lock p{
    display: block;
  }
  .collecPage .lists .bottom{
    display: block;
  }
  .collecPage .lists .lock-title{
    margin-bottom: 0;
    padding-bottom: 2px;
    border: none;
  }
  /*联系我们*/
  .main_artical{
    margin-top: 60px;
  }
  .main_artical .contact > .title{
    padding: 20px 0;
  }
  .main_artical .contact .contact_us > div{
    background-size: 23px !important;
    height: 108px;
    padding: 50px 15px 15px;
    margin: 0 4px;
  }
  .main_artical .contact .title h3{
    font-size: 16px;
    margin-bottom: 2px;
  }
  .main_artical .contact .title h4{
    font-size: 12px;
  }
  .main_artical .contact .contact_us{
    width: 85%;
  }
  .main_artical .contact .contact_us > div .title{
    font-size: 14px;
    margin-bottom: 2px;
  }
  .main_artical .contact .contact_us > div .details{
    font-size: 12px;
    line-height: 15px;
    transform: scale(0.90);
  }
  .main_artical form{
    width: 85%;
    padding: 25px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px #ccc;
  }
  .main_artical form .top{
    margin-bottom: 10px;
  }
  .main_artical form .top input{
    height: 20px;
    font-size: 12px;
    width: 47%;
  }
  .main_artical form textarea{
    height: 130px;
    font-size: 12px;
  }
  .main_artical form input[type="submit"]{
    margin: 25px 0 auto 50%;
    height: 25px;
    font-size: 13px;
  }
  /*details*/
  .detailsPage {
    margin-top: 60px;
  }
  .detailsPage .breadcrumb{
    display: none;
    box-shadow: 0 -3px 5px #ccc;
  }
  .product-price1{
    padding: 40px 28px;
    box-shadow: 0 0;
    margin-bottom: 10px;
  }
  .product-img .top-sing .details,
  .product-img .top-sing .prdt-info-grid{
    display: none;
  }
  .product-img{
    position: relative;
    padding-bottom: 0;
  }
  .product-img::before,
  .product-img::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../image/icon/shoucang.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .product-img::after{
    background: url(../image/icon/share.png) no-repeat;
    background-size: 88%;
    top: 62px;
  }
}
@media (max-width: 420px){
  /*详情页*/
  .detailsPage .container{
    padding: 0;
    margin: 0;
  }
  .single-top {
    width: 90%;
  }
  .single-para h4{
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .single-top-in{
    margin-top: 20px;
  }
  .single-para h4{
    border: none;
    padding-bottom: 0;
    margin-bottom: 15px;
  }
  .single-para h5{
    padding-top: 0;
  }
  .single-para h5>span:nth-child(1){
    display: none;
  }
  .single-para h5 .color{
    font-size: 14px;
    margin-left: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  .product-detail .top-sing ul li{
    width: 50%;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    padding-left: 13px;
  }
  .product-detail .description{
    margin-bottom: 10px;
  }
}
